@media (max-width: 428px) {

    img.headerLogo {
        height: auto;
        width: 40vw;
        margin-left: 7vw;
    }

    section#generalist h3
    {
    display: flex;
    width: 50vw;
    font-size: larger;
    justify-content: flex-start;
    }
    
    hr {
        width: 55vw;
        margin-top: 1vh;
    }

    section#manager h3
    {
    display: flex;
    align-items: flex-start;
    width:50vw;
    font-size: larger;
    }

    section#motion h3
    {
    display: flex;
    align-items: flex-start;
    width:50vw;
    font-size: larger;
    }
}

@media (min-width: 429px) and (max-width: 665px) {

    img.headerLogo {
        height: auto;
        width: 40vw;
        margin-left: 7vw;
    }

    section#generalist h3
    {
    display: flex;
    width: 40vw;
    font-size: larger;
    justify-content: flex-start;
    }
    
    hr {
        width: 50vw;
        margin-top: 1vh;
    }

    section#manager h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: larger;
    }

    section#motion h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: larger;
    }
}

@media (min-width: 666px) and (max-width: 1199px) {

    img.headerLogo {
        height: auto;
        width: 30vw;
        margin-left: 7vw;
    }

    section#generalist h3
    {
    display: flex;
    width: 40vw;
    font-size: x-large;
    justify-content: flex-start;
    }
    
    hr {
        width: 40vw;
        margin-top: 1vh;
    }

    section#manager h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: x-large;
    }

    section#motion h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: x-large;
    }
}

@media (min-width: 1800px) {

    img.headerLogo {
        height: auto;
        width: 20vw;
        margin-left: 5vw;
    }

    section#generalist h3
    {
    display: flex;
    width: 40vw;
    font-size: xx-large;
    justify-content: flex-start;
    }

    section#generalist 
    {
    font-size: larger;
    margin-left: 5vw;
    }
    
    hr {
        width: 40vw;
        margin-top: 1vh;
    }

    section#manager h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: xx-large;
    }

    section#manager 
    {
    font-size: larger;
    margin-left: 5vw;
    }

    section#motion h3
    {
    display: flex;
    align-items: flex-start;
    width:40vw;
    font-size: xx-large;
    }

    section#motion 
    {
    font-size: larger;
    margin-left: 5vw;
    }
}