/*Classic Elements*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

/*Header*/

header {
  padding: 5rem 4rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}

div.header__top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
  width: 100%;
  height: 100%;
  padding: 2rem 19rem;
  justify-content: space-between;
}

nav.visible{
  display: flex;
}

button.header__nav-button {
  background: none;
  border: none;
  font-size: 4rem;
  color: #fff;
}

ul li {
  display: block;
}

a.nav__list-item {
  color: #fff;
  text-decoration: none;
}