/*Classic Elements*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

/*Header*/

header {
  padding: 5rem 4rem;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  transition: height 2s, background-color 2s;
}

header.open {
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
}

div.header__top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
  width: 100%;
  height: auto;
  padding: 4rem 19rem;
  justify-content: space-between;
}

nav.visible {
  display: flex;
}

button.header__nav-button {
  background: none;
  border: none;
  font-size: 4rem;
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

ul li {
  display: block;
}

a.nav__list-item {
  color: #fff;
  text-decoration: none;
}

h3 a.nav__list-item {
  font-size: 4rem;
  font-weight: 300;
}
