/*Classic Elements*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

/*Header*/

header {
  position: relative;
  padding: 5rem 4rem;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: height 2s, background-color 2s;
  z-index: 5;
}

header.open {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

div.header__top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img.header__logo {
  width: 10%;
  height: auto;
  z-index: 100;
}

nav {
  display: none;
  width: 100%;
  height: auto;
  padding: 4rem 19rem;
  justify-content: space-around;
}

nav.visible {
  display: flex;
}

button.header__nav-button {
  position: relative;
  background: none;
  border: none;
  font-size: 4rem;
  color: #ffffff;
  z-index: 6;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

ul li {
  display: block;
}

a.nav__list-item {
  color: #fff;
  text-decoration: none;
}

h3 a.nav__list-item {
  font-size: 4rem;
  font-weight: 300;
}

/*Section Hero*/

section.section-hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 1;
}

video.section-hero__background-video{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*Section About*/

section.section-about{
  width: 100%;
  height: auto;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.section-about__top-text{
  font-size: 3rem;
  font-weight: 300;
  margin: 0 20rem;
}

div.section-about__projects-container{
  width: 100%;
  height: 100%;
  padding: 10rem;
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  gap: 2rem;
}

div.project{
  height: auto;
  width: 30%;
  aspect-ratio: 2/1;
  background-image: url(../../components/about-img__1.jpg);
  background-size: cover;
  background-position: center;
}

div.project:hover{
  background-image: url(../../components/Winamax_preview_clip.gif);
}

div.project h3{
  color: #ffffff;
}

div.project p {
  color: #ffffff;
}

/*Footer*/

footer{
  padding: 10rem 0;
  width: 100%;
  height: 60rem;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
}
