@media (max-width: 400px) {
    :root {
        --header-height: 12.5vw;
        --footer-height: 125px;
    }
    section#about-us {
        width: 80%;
        margin-top: 100vw;
    }

    footer ul.social-media {
        margin-top: 2vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 8.5px;
    }

    img.site-logo {
        height: 44vw;
        width: auto;
    }

    section#projects {
        margin-top: 165vw;
    }

    header nav ul{
        gap: 21px;
        font-size: 4vw;
    }
    
    header nav ul.nav {
        display:none;
    }
    
    header nav ul.language{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    img.astronot-logo {
        width: 18vw;
        height: auto;
        margin-right: 0px;
    }
}
@media (min-width: 401px) and (max-width: 664px) {
    :root {
        --header-height: 12.5vw;
        --footer-height: 125px;
    }
    section#about-us {
        width: 80%;
        margin-top: 100vw;
    }

    footer ul.social-media {
        margin-top: 2vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 8.5px;
    }

    img.site-logo {
        height: 44vw;
        width: auto;
    }

    section#projects {
        margin-top: 140vw;
    }
    
    header nav ul{
        gap: 21px;
        font-size: 4vw;
    }
    
    header nav ul.nav {
        display:none;
    }
    
    header nav ul.language{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    img.astronot-logo {
        width: 18vw;
        height: auto;
        margin-right: 0px;
    }

    img.pop-up-blur
    {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 9;
        object-fit: cover;
        display: none;
    } 

    div#pop-up.visible + img.pop-up-blur
    {
        display: block;
        opacity: 0.85;
    }
}
@media (min-width: 665px) and (max-width: 1199px) {
    :root {
        --header-height: 8vw;
        --footer-height: 125px;
    }
    
    section#about-us {
        width: 80%;
        margin-top: 10vw;
    }

    section#projects {
        margin-top: 10vw;
    }

    footer ul.social-media {
        margin-top: 2vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 8.5px;
    }

    header nav ul{
        display: flex;
        gap: 18px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: smaller;
    }

    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }
}
@media (min-width: 1200px) and (max-width: 1499px) {
    :root {
        --header-height: 8vw;
        --footer-height: 125px;
    }
    
    section#about-us {
        margin-top: 10vw;
    }


    section#projects {
        margin-top: 15vw;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
        margin-bottom: -0.5vw;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }

    header nav ul{
        display: flex;
        gap: 18px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: smaller;
    }

    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }

    .astronot.winzort {
        left: 54.8vw;
    }
    .astronot.mac {
        left: 53.5vw;
    }

}
@media (min-width: 1500px) and (max-width: 1849px) {
    :root {
        --header-height: 8vw;
        --footer-height: 10vw;
    }
    
    section#about-us {
        margin-top: 10vw;
    }


    section#projects {
        margin-top: 10vw;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }

    header nav ul{
        display: flex;
        gap: 18px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: smaller;
    }

    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }

}
@media (min-width: 1850px) and (max-width: 2199px) {
    :root {
        --header-height: 8vw;
        --footer-height: 10vw;
    }
    
    section#about-us {
        margin-top: 10vw;
        font-size: 1.6rem;
        width: 745px;
         height: 732px;
        margin-left: 12.5vw;
        line-height: 32px;
     }


    section#projects {
        margin-top: 17vw;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 13.5px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }

    header nav ul{
        display: flex;
        gap: 18px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: smaller;
    }


    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }

}
@media (min-width: 2200px) and (max-width: 2799px) {
    :root {
        --header-height: 8vw;
        --footer-height: 15vw;
    }
    
    section#about-us {
        margin-top: 10vw;
        font-size: 2rem;
        width: 931px;
         height: 945px;
        margin-left: 12.5vw;
        line-height: 40px;
     }


    section#projects {
        margin-top: 17vw;
    }

    div.project-details{
        font-size: 2rem;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 27px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.8rem;
    }

    header nav ul{
        display: flex;
        gap: 31px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
        font-size: 1.8rem;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: 1.2rem;
    }


    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }


}
@media (min-width: 2800px) and (max-width: 3599px){
    :root {
        --header-height: 8vw;
        --footer-height: 15vw;
    }
    
    section#about-us {
        margin-top: 10vw;
        font-size: 2.8rem;
        width: 1380px;
         height: 1330px;
        margin-left: 12.5vw;
        line-height: 55px;
     }


    section#projects {
        margin-top: 17vw;
    }

    div.project-details{
        font-size: 2.2rem;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 27px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.8rem;
    }

    header nav ul{
        display: flex;
        gap: 31px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
        font-size: 1.8rem;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: 1.2rem;
    }

    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }

    .astronot.mac {
        left: 53.5vw;
    }

    .astronot.winzort {
        left: 53.5vw;
    }

}
@media (min-width: 3600px) {
    :root {
        --header-height: 8vw;
        --footer-height: 16vw;
    }
    
    section#about-us {
        margin-top: 10vw;
        font-size: 3.6rem;
        width: 1740px;
         height: 1778px;
        margin-left: 12.5vw;
        line-height: 72px;
     }


    section#projects {
        margin-top: 17vw;
    }

    div.project-details{
        font-size: 2.9rem;
    }

    footer ul.social-media {
        margin-top: 0.5vw;
        gap: 6.75px;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        font-size: 2.5rem;
    }

    header nav ul{
        display: flex;
        gap: 52px;
        width: 100vw;
    }

    header nav ul.nav {
        justify-content: flex-end;
        padding-right: 0px;
        margin-right: 3vw;
        font-size: 2.5rem;
    }

    header nav ul.language {
        justify-content: flex-start;
        padding-left: 6vw;
        font-size: 1.8rem;
    }

    img.site-logo {
        height: 25vw;
        width: auto;
    }

    img.astronot-logo {
        width: 10vw;
        height: auto;
        margin-right: 0px;
    }

    .astronot.mac {
        left: 53.5vw;
    }

    .astronot.winzort {
        left: 53.5vw;
    }

}
@media (max-width: 1199px) {
    .astronot {
        display: none;
    }
}

@media (max-width: 665px) {
    div.sub-project:hover {
        display: none;
    }
    
    div.project-details {
        display: none;
    }
}

