body {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
    width: 100vw;
	flex-direction: column;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

video.presentation {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}

div.humanoid {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo {
    width: fit-content;
    height: auto;
    margin-bottom: 5vh;
    padding-top: 15vh;
}

div.android {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
}

div.apple {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
    padding-top: 4rem;
}

button {
   padding: 1rem;
   width: 13rem;
   background-color: black;
   color: white;
   font-size: small;
   border-width: 1px;
   border-color: white;
}

/* Responsive start */

@media (max-width: 665px) {

    img.logo {
        height: auto;
        width: 80vw;
    }
}